<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Кнопка «Гамбургер»
                отображается только в мобильном виде
                (предназначена для открытия основного содержимого Navbar) -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- Основная часть меню
            (может содержать ссылки, формы и другие элементы) -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(@Polyclinic.Web.Resources.Resource.Polyclinic, "Index", "Home")</li>
                    <li>@Html.ActionLink(@Polyclinic.Web.Resources.Resource.About, "About", "Home")</li>
                    <li>@Html.ActionLink(@Polyclinic.Web.Resources.Resource.Contact, "Contact", "Home")</li>
                    <li>

                        @if (!User.Identity.IsAuthenticated)
                        {
                            @Ajax.ActionLink("Вход", "Login", "Account",
                           new AjaxOptions { UpdateTargetId = "login" });
                        }
                        else
                        {
                            @Html.ActionLink("Выход", "Logout", "Account");
                        }
                    </li>
                </ul>
            </div>
            <div id="login" class="nav navbar-nav">

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
            @using (Html.BeginForm("ChangeLanguage", "Home"))
            {
                <input type="submit" name="lang"
                       value=@Polyclinic.Web.Resources.Resource.Button
                       class="btn btn-primary btn-large">
            }
        </footer>
    </div>

    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
